.idea/*
__pycache__/*
potentialStocks-*csv
potentialStocks-*xlsx
stockDrawing*.png
pythonStockEvaluation*
python.log
stock_model
web_page/static/stockDrawing*.png
ghostdriver.log
stock.log
stock_all_*.csv
counter_stocks/*